<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iftech.mafiafood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.iftech.mafiafood.Service.ListenOrder"
            android:enabled="true"
            android:exported="true"></service>


        <activity android:name="com.iftech.mafiafood.OrderStatus" />
        <activity android:name="com.iftech.mafiafood.Cart" />
        <activity android:name="com.iftech.mafiafood.FoodDetail" />
        <activity android:name="com.iftech.mafiafood.FoodList" />
        <activity
            android:name="com.iftech.mafiafood.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.iftech.mafiafood.SignUp" />
        <activity android:name="com.iftech.mafiafood.SignIn" />
        <activity android:name="com.iftech.mafiafood.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>